<template>
    	<div class="container">
			<h2 class="font-weight-bold mt-5">SMM - TEST</h2>
			<hr>
			<div class="row">
			
				<div class="col-md-12">

					<router-view></router-view>	
					<vue-progress-bar></vue-progress-bar>		
				</div>
			</div>
		</div>
		
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
