<template>
  <div>
    <div class="row">
      <div class="col-md-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <router-link to="/">List Permintaan</router-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Tambah Permintaan Barang</li>
          </ol>
        </nav>
      </div>
    </div>
    <h5>Tambah Permintaan Barang</h5>
    <form class="mt-5" @submit.prevent="handleSubmit">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="nik">Nik Peminta</label>
          <select
            name="nik"
            id="nik"
            class="form-control"
            :class="{ 'is-invalid': submitted && $v.pemintaSelected.nik.$error }"
            v-model="pemintaSelected"
          >
            <option value selected disabled>Pilih Nik Peminta</option>
            <option
              v-for="lpeminta in listPeminta"
              :key="lpeminta.id"
              :value="{nik: lpeminta.nik, nama: lpeminta.nama, departmen: lpeminta.departemen}"
            >{{lpeminta.nik}}</option>
          </select>
          <div
            v-if="submitted && !$v.pemintaSelected.nik.required"
            class="invalid-feedback"
          >Nik wajib di isi</div>
        </div>
        <div class="form-group col-md-4">
          <label for="inputPassword4">Nama</label>
          <input
            type="text"
            disabled
            class="form-control"
            v-model="pemintaSelected.nama"
            placeholder="Pilih NIK terlebih dahulu"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="inputPassword4">Departemen</label>
          <input
            type="text"
            disabled
            class="form-control"
            v-model="pemintaSelected.departmen"
            placeholder="Pilih NIK terlebih dahulu"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputAddress">Tanggal Permintaan</label>
          <input
            type="date"
            class="form-control"
            :class="{ 'is-invalid': submitted && $v.tgl_permintaan.$error }"
            v-model="tgl_permintaan"
            placeholder="masukan tgl permintaan"
          />
          <div
            v-if="submitted && !$v.tgl_permintaan.required"
            class="invalid-feedback"
          >Tgl Permintaan wajib di isi</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <h5>
            <Strong>Daftar Barang</Strong>
          </h5>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col" width="30%">Barang</th>
                <th scope="col">Lokasi</th>
                <th scope="col">Tersedia</th>
                <th scope="col">Kuantiti</th>
                <th scope="col">Satuan</th>
                <th scope="col">Keterangan</th>
                <th scope="col">Status</th>
                <th scope="col" class="text-center">*</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(ldaftarBrg, index) in listDaftarBarang" :key="ldaftarBrg.id">
                <th scope="row">{{ index +1 }}</th>
                <td>
                  <select
                    name="barang"
                    v-model="listDaftarBarang[index]"
                    class="form-control"
                    :class="{ 'is-invalid': submitted && $v.listDaftarBarang.$each[index].kode_barang.$error }"
                  >
                    <option value disabled selected>Pilih Barang</option>
                    <!-- :value="lbarang" -->
                    <option
                      v-for="lbarang in listBarang"
                      :key="lbarang.id"
                      :value="lbarang"
                      :disabled="cekIfExist(lbarang.kode_barang)"
                    >{{ lbarang.kode_barang+' - '+lbarang.nama_barang }}</option>
                  </select>
                  <div
                    v-if="submitted && !$v.listDaftarBarang.$each[index].kode_barang.required"
                    class="invalid-feedback"
                  >Pilih barang terlebih dahulu</div>
                </td>
                <td>
                  <input
                    type="text"
                    name="lokasi"
                    v-model="listDaftarBarang[index].lokasi"
                    disabled
                    class="form-control"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    name="stok"
                    v-model="listDaftarBarang[index].stok"
                    disabled
                    class="form-control"
                  />
                </td>
                <td>
                  <input
                    type="number"
                    name="kuantiti"
                    v-model="listDaftarBarang[index].kuantiti"
                    :disabled="!listDaftarBarang[index].kode_barang != ''"
                    class="form-control"
                    :class="{ 'is-invalid': submitted && $v.listDaftarBarang.$each[index].kuantiti.$error }"
                  />
                  <div
                    v-if="submitted && !$v.listDaftarBarang.$each[index].kuantiti.required"
                    class="invalid-feedback"
                  >Kuantiti wajib di isi</div>
                </td>
                <td>
                  <input
                    type="text"
                    name="satuan"
                    v-model="listDaftarBarang[index].satuan"
                    disabled
                    class="form-control"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    name="ket"
                    v-model="listDaftarBarang[index].ket"
                    :disabled="!listDaftarBarang[index].kode_barang != ''"
                    class="form-control"
                    :class="{ 'is-invalid': submitted && $v.listDaftarBarang.$each[index].ket.$error }"
                  />
                  <div
                    v-if="submitted && !$v.listDaftarBarang.$each[index].ket.required"
                    class="invalid-feedback"
                  >Keterangan wajib di isi</div>
                </td>
                <td>
                  <span
                    class="badge badge-success"
                    v-if="listDaftarBarang[index].stok >= listDaftarBarang[index].kuantiti && listDaftarBarang[index].kuantiti != ''"
                  >Terpenuhi</span>
                  <span
                    class="badge badge-danger"
                    v-if="listDaftarBarang[index].stok < listDaftarBarang[index].kuantiti"
                  >Stok tidak cukup</span>
                </td>
                <td class="text-center">
                  <button type="button" class="btn btn-sm btn-danger" @click="removeBrg(index)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="button" @click="tambahBarang()" class="btn btn-success float-right">
            <i class="fa fa-plus"></i> Tambah
          </button>
        </div>
      </div>
      <hr />
      <div class="row mt-2 mb-5">
        <div class="col-md-4 offset-md-4 text-center">
          <button class="btn btn-primary" :disabled="isLoading">
            <span
              v-if="isLoading"
              class="spinner-grow spinner-grow-sm"
              role="status"
              aria-hidden="true"
            ></span> Proses
          </button>
          <router-link class="btn btn-secondary" to="/">Batal</router-link>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { required, numeric } from "vuelidate/lib/validators";
export default {
  data() {
    return {
      listPeminta: [],
      listBarang: [],
      listDaftarBarang: [],
      pemintaSelected: "",
      tgl_permintaan: "",
			submitted: false,
			isLoading: false,
    };
  },

  validations: {
    pemintaSelected: {
      nik: { required }
    },
    tgl_permintaan: { required },
    listDaftarBarang: {
      $each: {
        kode_barang: {
          required
        },
        kuantiti: {
          required,
          numeric
        },
        ket: {
          required
        }
      }
    }
  },
  methods: {
    getBarang() {
      axios
        .get("/api/list-barang")
        .then(res => {
          this.listBarang = res.data;
        })
        .catch(err => console.log(err));
    },

    getPeminta() {
      axios
        .get("/api/list-peminta")
        .then(res => {
          this.listPeminta = res.data;
        })
        .catch(err => console.log(err));
    },

    tambahBarang() {
      this.listDaftarBarang.push({
        kode_barang: "",
        nama_barang: "",
        lokasi: "",
        stok: "",
        kuantiti: "",
        satuan: "",
        ket: "",
        status: ""
      });
    },
    removeBrg(indexBrg) {
      let countBarang = this.listDaftarBarang.length;

      if (countBarang > 1) {
        this.$delete(this.listDaftarBarang, indexBrg);
      }
    },
    cekIfExist(id) {
      return this.listDaftarBarang.some(function(item) {
        return item.kode_barang === id;
      });
    },

    handleSubmit(e) {
			this.submitted = true;
      this.$Progress.start();
			this.$v.$touch();
      if (this.$v.$invalid) {
				return;
      }
      
			this.isLoading = true;
      axios
        .post("/api/permintaan/store", {
          peminta: this.pemintaSelected,
          tgl_permintaan: this.tgl_permintaan,
          daftarBarang: this.listDaftarBarang
        })
        .then(res => {
          this.$Progress.finish();
					this.$router.push("/");
					this.isLoading = false;
        })
        .catch(err => {
          this.$Progress.fail();
         this.isLoading = false;
        });
    }
  },
  mounted() {
    this.getBarang();
    this.getPeminta();
    this.tambahBarang();
  }
};
</script>