<template>
  <div>
    <div class="row">
      <div class="col-md-8">
        <h5>List Permintaan</h5>
      </div>
      <div class="col-md-4">
        <router-link class="btn btn-primary float-right" :to="{ name: 'permintaan.create'}">
          <i class="fa fa-plus"></i> Tambah Permintaan
        </router-link>
      </div>
    </div>
    <table class="table mt-2">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">NIK Peminta</th>
          <th scope="col">Nama Peminta</th>
          <th scope="col">Departemen</th>
          <th scope="col">Tgl Permintaan</th>
          <th scope="col" class="text-center">Opsi</th>
        </tr>
      </thead>
      <tbody v-if="listPermintaan.length > 0">
        <tr v-for="(lpermintaan,index) in listPermintaan" :key="lpermintaan.id">
          <th scope="row">{{ index+1 }}</th>
          <td>{{ lpermintaan.nik_peminta }}</td>
          <td>{{ lpermintaan.peminta.nama }}</td>
          <td>{{ lpermintaan.peminta.departemen }}</td>
          <td>{{ lpermintaan.tgl_permintaan }}</td>
          <td class="text-center">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button
                type="button"
                class="btn btn-success"
                data-toggle="tooltip"
                data-placement="top"
                @click="getDetail(lpermintaan.id)"
                title="Detail"
              >
                <i class="fa fa-search-plus"></i>
              </button>
              <button
                type="button"
                class="btn btn-danger"
                data-toggle="tooltip"
                data-placement="top"
								@click="deleteData(lpermintaan.id)"
                title="Hapus"
              >
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <tr v-else>
        <td colspan="6" class="text-center">Data Belum tersedia</td>
      </tr>
    </table>

    <!-- Modal -->
    <div
      class="modal fade"
      id="modalDetail"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modalDetail"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalDetail">Detail</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-3">NIK Peminta</div>
              <div class="col-md-9">: {{ detailPermintaan.nik_peminta }}</div>
              <div class="col-md-3">Nama Peminta</div>
              <div
                class="col-md-9"
              >: {{ typeof detailPermintaan.peminta == 'undefined' ? '' : detailPermintaan.peminta.nama }}</div>
              <div class="col-md-3">Tgl Permintaan</div>
              <div class="col-md-9">: {{ detailPermintaan.tgl_permintaan }}</div>
              <div class="col-md-3">Departemen</div>
              <div
                class="col-md-9"
              >: {{ typeof detailPermintaan.peminta == 'undefined' ? '' : detailPermintaan.peminta.departemen }}</div>
            </div>

            <div class="table-responsive mt-4">
              <h6>
                <strong>Daftar Barang</strong>
              </h6>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th width="50">No</th>
                    <th>Barang</th>
                    <th>Lokasi</th>
                    <th>Kuantiti</th>
                    <th>Satuan</th>
                    <th>Ket</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(detail, index) in detailPermintaan.permintaan_details"
                    :key="detail.id"
                  >
                    <td>{{ index +1 }}</td>
                    <td>{{ detail.barang.nama_barang }}</td>
                    <td>{{ detail.barang.lokasi }}</td>
                    <td>{{ detail.qty }}</td>
                    <td>{{ detail.barang.satuan }}</td>
                    <td>{{ detail.ket }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {
      listPermintaan: [],
      detailPermintaan: {}
    };
  },
  methods: {
    getListPermintaan() {
      axios
        .get("/api/permintaan")
        .then(res => {
          this.listPermintaan = res.data;
        })
        .catch(err => console.log(err));
    },
    getDetail(id) {
      $("#modalDetail").modal("show");
      axios
        .get("/api/permintaan/detail/" + id)
        .then(res => {
          this.detailPermintaan = res.data;
          console.log(res.data);
        })
        .catch(err => console.log(err));
    },

    deleteData(id) {
      let tanya = "Apakah anda yakin akan menghapus data ini?";
      if (confirm(tanya)) {
        axios
          .get("/api/permintaan/delete/" + id)
          .then(res => {
            console.log("oke");
            this.getListPermintaan();
          })
          .catch(err => console.log(err));
      }
    }
  },
  mounted() {
    this.getListPermintaan();
  }
};
</script>